html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.justify {
  text-align: justify; }

body {
  min-height: 100vh; }

.strong {
  font-weight: bold; }

.background-image {
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  z-index: -50;
  background-color: #ecf0f1;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px); }

.chat-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 90%;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden; }

.chat-left, .chat-right {
  display: inline-block;
  height: 80vh;
  position: relative; }

.chat-left {
  width: 450px;
  background: #F1F4F6;
  background: rgba(241, 244, 246, 0.9);
  border-right: 1px solid #F5F5F5; }
  .chat-left header {
    border-bottom: 1px solid #EAEAEA; }
    .chat-left header .channels-button, .chat-left header .settings-button {
      position: absolute;
      top: 0;
      bottom: 0;
      line-height: 50px;
      color: #16a085;
      cursor: pointer;
      transition: color 0.3s; }
      .chat-left header .channels-button:hover, .chat-left header .settings-button:hover {
        color: #1abc9c; }
    .chat-left header .channels-button {
      left: 0;
      padding-left: 10px; }
    .chat-left header .settings-button {
      right: 0;
      padding-right: 10px; }

.chat-right {
  width: 350px;
  background: white; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background: white; }

.messages-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 100px;
  overflow: auto;
  padding: 25px;
  padding-bottom: 15px; }
  .messages-container .message-container {
    margin: auto;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 0px;
    font-size: 12px;
    /* end 'enter' transition */ }
    .messages-container .message-container.ng-enter {
      /* transition on enter for .5s */
      transition: .5s;
      /* start with opacity 0 (invisible) */
      opacity: 0; }
    .messages-container .message-container.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1; }

.send-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #FAFAFA;
  text-align: center;
  border-top: 1px solid #E7E7E8; }
  .send-container textarea {
    width: 330px;
    height: 60px;
    margin-top: 20px;
    resize: none;
    outline: 0;
    border-radius: 4px;
    padding: 5px;
    border-color: lightgray; }
  .send-container .send-button-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    line-height: 100px; }
