html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.justify {
  text-align: justify; }

.clearfix {
  clear: both; }

body {
  min-height: 100vh; }

.strong {
  font-weight: bold; }

.background-image {
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  z-index: -50;
  background-color: #ecf0f1;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px); }

.chat-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 90%;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden; }
  .chat-container .chat-left, .chat-container .chat-right {
    display: inline-block;
    height: 80vh;
    position: relative; }
  .chat-container .chat-left {
    width: 450px;
    background: #F1F4F6;
    background: rgba(241, 244, 246, 0.9);
    border-right: 1px solid #F5F5F5; }
    .chat-container .chat-left header {
      border-bottom: 1px solid #EAEAEA; }
      .chat-container .chat-left header .channels-button, .chat-container .chat-left header .settings-button {
        position: absolute;
        top: 0;
        bottom: 0;
        line-height: 50px;
        color: #16a085;
        cursor: pointer;
        transition: color 0.3s; }
        .chat-container .chat-left header .channels-button:hover, .chat-container .chat-left header .settings-button:hover {
          color: #1abc9c; }
      .chat-container .chat-left header .channels-button {
        left: 0;
        padding-left: 10px; }
      .chat-container .chat-left header .settings-button {
        right: 0;
        padding-right: 10px; }
  .chat-container .chat-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 450px;
    background: white; }
    .chat-container .chat-right .users-list {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 25px; }
      .chat-container .chat-right .users-list .user {
        margin-bottom: 10px; }
  .chat-container header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background: white; }
  .chat-container .messages-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 100px;
    overflow: auto;
    padding: 25px;
    padding-bottom: 15px; }
    .chat-container .messages-container .no-messages {
      font-style: 12px;
      text-align: center;
      font-weight: bold;
      color: #34495e; }
    .chat-container .messages-container .message-container {
      margin-bottom: 10px;
      font-size: 12px; }
      .chat-container .messages-container .message-container .message {
        background: white;
        padding: 10px;
        border-radius: 20px 20px 20px 20px;
        float: left; }
      .chat-container .messages-container .message-container .message.self {
        background: #1abc9c;
        color: white;
        float: right; }
  .chat-container .send-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #FAFAFA;
    text-align: center;
    border-top: 1px solid #E7E7E8; }
    .chat-container .send-container textarea {
      width: 330px;
      height: 60px;
      margin-top: 20px;
      resize: none;
      outline: 0;
      border-radius: 4px;
      padding: 5px;
      border-color: lightgray; }
    .chat-container .send-container .send-button-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 60px;
      line-height: 100px; }

.username-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden; }
  .username-container header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background: white; }
  .username-container input {
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(241, 244, 246, 0.8);
    outline: none;
    box-shadow: none;
    border: none;
    padding: 10px; }
