<!-- <div class="" ng-init="vm.init()"></div> -->

<div class="chat-container" ng-if="vm.isLogged && !vm.inUpdate" class="fade">
    <div class="chat-left">
      <header>
        Général

        <div class="channels-button">
          <i class="grid layout icon"></i>
        </div>

        <div class="settings-button">
          <i class="ellipsis horizontal icon"></i>
        </div>
      </header>
      <div class="messages-container" scroll-glue>

        <div class="no-messages" ng-if="!vm.messages.length">
          Pas de messages
        </div>

        <div class="message-container" ng-repeat="message in vm.messages">
          <div class="author">

          </div>
          <div class="message" ng-class="{self: message.id == vm.me.Body}">
            <span class="strong" ng-if="message.id != vm.me.Body">{{message.Name}}</span> {{message.Body}}
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="send-container">
        <textarea name="name" rows="8" cols="80" ng-model="vm.message" ng-keyup="vm.sendMessageKeyboard($event)"></textarea>
        <div class="send-button-container">
          <button class="circular ui icon basic mini button" ng-click="vm.sendMessage()">
            <i class="icon send"></i>
          </button>
        </div>
      </div>
    </div><div class="chat-right">
      <header>
        Utilisateurs
      </header>
      <div class="users-list">
        <div class="user">
          {{vm.me.Name}} <span style="font-size: 10px; color: lightgray;">(moi)</span>
        </div>
        <div class="user" ng-repeat="user in vm.users">
          {{user.username}}
        </div>
      </div>
    </div>
</div>

<div class="username-container" ng-if="!vm.isLogged || vm.inUpdate">
  <header>
    Votre pseudo ?
  </header>

  <input type="text" placeholder="ex: John Doe" ng-model="vm.usernameInput" ng-keyup="vm.setUsername($event)">
</div>
