<!-- <div class="" ng-init="vm.init()"></div> -->

<div class="chat-container" ng-if="vm.isLogged && !vm.inUpdate" class="fade">
    <div class="chat-left">
      <header>
        Général

        <div class="channels-button">
          <i class="grid layout icon"></i>
        </div>

        <div class="settings-button">
          <i class="ellipsis horizontal icon"></i>
        </div>
      </header>
      <div class="messages-container" scroll-glue>

        <div class="message-container" ng-repeat="message in vm.messages">
          <div class="author">

          </div>
          <div class="message">
            <span class="strong">{{message.Name}}</span> {{message.Body}}
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="send-container">
        <textarea name="name" rows="8" cols="80" ng-model="vm.message"></textarea>
        <div class="send-button-container">
          <button class="circular ui icon basic mini button" ng-click="vm.sendMessage()">
            <i class="icon send"></i>
          </button>
        </div>
      </div>
    </div><div class="chat-right">
      <header>
        Draw Something
      </header>
    </div>
</div>

<div class="username-container" ng-if="!vm.isLogged || vm.inUpdate">
  <header>
    Votre pseudo ?
  </header>

  <input type="text" placeholder="ex: John Doe" ng-model="vm.usernameInput" ng-keyup="vm.setUsername($event)">
</div>
